@import "../common/Common"

.RunningRoutes-routes
  margin: 20px auto
  width: 90%

.RunningRoutes-route
  padding: 10px 10px

.RunningRoutes-name
  color: $text-primary-color
  display: inline-block

.RunningRoutes-distance
  display: inline-block
  color: $text-primary-color
  margin: 0px 6px

RunningRoutes-tags
  display: inline-block
