.InfoIcon
  display: inline-block
  margin-left: 10px
  vertical-align: middle

.InfoIcon-icon
  width: 16px
  height: 16px
  filter: invert(0.4)

.InfoIcon-text
  position: absolute
  display: inline-block
  opacity: 0
  padding-left: 6px
  transition: 200ms

.InfoIcon:hover .InfoIcon-text
  opacity: 1
