<!DOCTYPE html>
<html>
  <head>
    <title>chrisgregory.me</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="https://api.chrisgregory.me"><span>status</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/version"><span>version</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/archive"><span>archive</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/art"><span>art</span></a>
        <ul>
          <li>
            <a href="https://api.chrisgregory.me/art/pottery"><span>pottery</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/blog/posts"><span>blog/posts</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/feed/posts"><span>feed/posts</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/feed.xml"><span>feed.xml</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/media"><span>media</span></a>
        <ul>
          <li>
            <a href="https://api.chrisgregory.me/media/artists"><span>artists</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/media/books"><span>books</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/media/movies"><span>movies</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/media/podcasts"><span>podcasts</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/media/tv"><span>tv</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/media/youtube_channels"><span>youtube_channels</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/outdoor"><span>outdoor</span></a>
        <ul>
          <li>
            <a href="https://api.chrisgregory.me/outdoor/cycling"><span>cycling</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/outdoor/hiking"><span>hiking</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/outdoor/running"><span>running</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/professional"><span>professional</span></a>
        <ul>
          <li>
            <a href="https://api.chrisgregory.me/professional/courses"><span>courses</span></a>
          </li>
          <li>
            <a href="https://api.chrisgregory.me/professional/jobs"><span>jobs</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/projects"><span>projects</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/recipes"><span>recipes</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/snippets"><span>snippets</span></a>
      </li>
      <li>
        <a href="https://api.chrisgregory.me/surveys"><span>surveys</span></a>
        <ul>
          <li>
            <a href="https://api.chrisgregory.me/surveys/results"><span>results</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
