#blog ol {
  list-style: decimal;
  padding-left: 2rem;
  text-align: left;
}

#blog ul {
  list-style: disc;
  padding-left: 2rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* lists should only have margin top/bottom when not the child of another list */
#blog ol ol,
#blog ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

#blog ul ul {
  list-style: circle;
}

#blog ul ul ul {
  list-style: square;
}

#blog code {
  color: #dc5039;
  text-decoration: none;
  font-family: "Geist Mono Variable", serif;
}

#blog pre {
  font-size: small;
}

#blog pre div {
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#blog pre code {
  color: inherit;
}

#blog h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

#blog h3 {
  font-size: 1.25rem;
  font-style: italic;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  text-align: left;
}

#blog a {
  color: #909090;
  transition: color 700ms;
  text-decoration: 1.5px underline #d0d0d0;
}

#blog .footnote {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

#blog .footnote-number {
  color: #505050;
  transition: color 700ms;
}

#blog a:hover .footnote-number {
  color: #6283c0;
}

#blog a.fn,
#blog a.fnref {
  text-decoration: none;
}

#blog a:hover {
  color: #2d2d2d;
}

#blog img {
  border-radius: 0.375rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blog img.no-shadow {
  box-shadow: none;
}

#blog video {
  border-radius: 0.375rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blog figcaption {
  font-size: 0.875rem;
  color: #555;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-wrap: balance;
}

#blog p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#blog blockquote {
  border-left: 3px solid #d0d0d0;
  margin-left: 1rem;
  padding-left: 1rem;
  font-style: italic;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

#blog blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

#blog #footnotes {
  text-align: left;
}

#blog #footnotes:has(:target) .footnote {
  opacity: 0.35;
  transition:
    opacity 300ms,
    padding-top 300ms,
    padding-bottom 300ms;
}

#blog #footnotes .footnote:target {
  opacity: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#blog table {
  font-size: small;
  border-collapse: collapse;
  border-radius: 0.375rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blog th,
#blog td {
  padding: 0.2rem 0.8rem;
  text-align: left;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f0;
}

#blog th {
  padding: 0.3rem 0.8rem;
  background-color: #6283c0;
  font-weight: bold;
  color: white;
  border-right: 1px solid #5979b5;
}

#blog .snip {
  font-family: "Geist Mono Variable", monospace;
}

#blog .katex-display {
  background-color: #e0e3ea;
  border-radius: 0.375rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: small;
}

#blog .katex-display .katex-html {
  overflow-x: scroll;
  overflow-y: clip;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#blog .code-svg {
  font-family: "Menlo", monospace;
}
