/* Common table */

.Common-table {
  display: inline-block;
  text-align: left;
}

.Common-table-header {
  color: #3c3c3c;
}

.Common-table-header > .Common-table-cell {
  padding-bottom: 5px;
}

.Common-table-header > .Common-table-header-cell-text {
  border-bottom: 1px solid #6283c0;
}

.Common-table-cell {
  padding: 4px 7px;
  padding: 0px 8px;
}
