@font-face {
  font-family: "Iowa Old Style BT";
  src: url("../assets/fonts/iowanoldst-bt/bitstream-iowan-old-style-bt-586c36a8d7712.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Iowa Old Style BT";
  src: url("../assets/fonts/iowanoldst-bt/bitstream-iowan-old-style-italic-bt-586c3740dc396.woff")
    format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Iowa Old Style BT";
  src: url("../assets/fonts/iowanoldst-bt/bitstream-iowan-old-style-bold-bt-586c371d8d669.woff")
    format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Iowa Old Style BT";
  src: url("../assets/fonts/iowanoldst-bt/bitstream-iowan-old-style-bold-italic-bt-586c37701cb62.woff")
    format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Iowa Old Style BT";
  src: url("../assets/fonts/iowanoldst-bt/bitstream-iowan-old-style-black-bt-586c36e930225.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Iowa Old Style BT";
  src: url("../assets/fonts/iowanoldst-bt/bitstream-iowan-old-style-black-italic-bt-586c378f12ca1.woff")
    format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Menlo";
  src: url("../assets/fonts/menlo/Menlo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Menlo";
  src: url("../assets/fonts/menlo/Menlo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Menlo";
  src: url("../assets/fonts/menlo/Menlo-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Menlo";
  src: url("../assets/fonts/menlo/Menlo-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Degular Mono";
  src: url("../assets/fonts/degular-mono/DegularMonoDemo-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}
