@import "tailwindcss";

@theme {
  --color-parchment: #f5f5f0;
  --color-dark-parchment: #eaeae3;
  --color-darker-parchment: #dbdbd6;
  --color-sky: #6283c0;
  --color-royal: #1f43b6;
  --font-raleway: "Raleway", sans-serif;
  --font-iowa: "Iowa Old Style BT", serif;
  --font-sanchez: "Sanchez", serif;
  --font-geist: "Geist Mono Variable", monospace;

  --animate-expand: expand 200ms ease-out;
  --animate-collapse: collapse 200ms ease-out;

  @keyframes expand {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
  }

  @keyframes collapse {
    from {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f0;
}

::selection {
  background: #6283c0;
  color: #d9dde6;
}

::-moz-selection {
  background: #6283c0;
  color: #d9dde6;
}
