.Tag {
  display: inline-block;
  margin-right: 10px;
  padding: 6px 10px;
  background-color: rgb(51, 55, 65);
  color: rgb(123, 131, 146);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s;
}

.Tag:hover {
  cursor: pointer;
  background-color: rgb(71, 75, 87);
}

.Tag:active {
  background-color: rgb(84, 89, 102);
}
