.Music-spotify-wrap {
  margin: 50px 5% 0px;
  padding: 0px 0px 50px;
  text-align: center;
}

.Music-spotify-iframe {
  border: none;
  box-shadow: 0px 0px 12px 3px rgb(25, 26, 31);
  width: 100%;
}
