@import "../common/Common"

.Contact
  background-color: $background-color
  padding: 30px
  color: rgb(230, 230, 230)

.Contact-header-wrap
  width: 80%
  margin: 0px auto
  text-align: center

.Contact-title
  font-family: $primary-font
  color: rgb(60, 60, 60)
  font-size: 30px
  font-weight: bold
  display: block
  margin-bottom: 20px

.Contact-instructions
  font-family: $secondary-font
  color: rgb(40, 40, 40)
  display: block
  width: 80%
  margin: 0px auto

.Contact-form-wrap
  width: 90%
  max-width: 500px
  margin: 50px auto 0px

.Contact-text-input
  font-family: $secondary-font
  font-weight: bold
  background-color: transparent
  color: rgb(100, 100, 100)
  outline: none
  padding: 8px 12px
  border: 2px solid $accent-color
  border-radius: 0px
  margin: 10px auto
  display: block
  transition: 0.2s

.Contact-text-input:hover
  background-color: transparent

.Contact-text-input:focus
  background-color: transparent
  background-color: rgb(230, 230, 224)

.Contact-text-input::placeholder
  color: rgb(100, 100, 100)
  opacity: 1

.Contact-text-field
  width: 95%

.Contact-text-area
  width: 95%
  height: 150px
  resize: none

.Contact-send-button
  font-family: $secondary-font
  font-weight: bold
  background-color: transparent
  outline: none
  color: rgb(100, 100, 100)
  padding: 7px 26px
  margin: 10px auto
  border: 2px solid $accent-color
  display: block
  transition: 200ms

.Contact-send-button:hover
  background-color: rgb(230, 230, 224)
  color: rgb(100, 100, 100)
  cursor: pointer

.Contact-send-button:active
  background-color: rgb(214, 214, 209)
