@import "../../Common/Common"

.ProjectTimeline
  background-color: $background-color

.ProjectTimeline-svg:hover
  cursor: default

.ProjectTimeline-circle.archived
  display: none

.ProjectTimeline-circle
  transition: 200ms

.ProjectTimeline-circle:hover
  cursor: pointer
  fill-opacity: 0.2

.ProjectTimeline-circle.deselected
  stroke-opacity: 0.2

.ProjectTimeline-circle.selected
  fill-opacity: 0.7
