@import "../common/Common"

.ProjectInfo
  padding: 0px 30px

.ProjectInfo-text
  padding-bottom: 20px

.ProjectInfo-item
  font-family: $secondary-font
  color: rgb(41, 41, 41)
  margin-left: 20px
  margin-bottom: 10px

.ProjectInfo-name
  font-family: $primary-font
  font-weight: bold
  font-size: 24px

.ProjectInfo-item-link
  color: $accent-color
  transition: 200ms

.ProjectInfo-item-link:hover
  color: $accent-focus-color
  cursor: pointer

.ProjectInfo-item-link:active
  color: $accent-focus-color

.ProjectInfo-item-link:visited
  color: $accent-focus-color

.ProjectInfo-image
  max-height: 300px
  margin: 10px 10px
  max-width: 90%
  box-shadow: 0px 0px 6px 2px rgb(180, 180, 180)
