
.ProjectInfo
  padding: 0px 30px

.ProjectInfo-text
  padding-bottom: 20px

.ProjectInfo-item
  color: rgb(41, 41, 41)
  font-family: "Raleway"
  margin-left: 20px
  margin-bottom: 10px

.ProjectInfo-name
  font-family: "Noto Serif TC"
  font-weight: bold
  font-size: 22px

.ProjectInfo-item-link
  color: rgb(98, 131, 192)
  transition: 200ms

.ProjectInfo-item-link:hover
  color: rgb(31, 67, 182)
  cursor: pointer

.ProjectInfo-item-link:active
  color: rgb(31, 67, 182)

.ProjectInfo-item-link:visited
  color: rgb(31, 67, 182)

.ProjectInfo-image
  max-height: 300px
  margin: 10px 10px
  max-width: 90%
  box-shadow: 0px 0px 6px 2px rgb(180, 180, 180)
