.ProjectTimeline
  background-color: rgb(245, 245, 240)

.ProjectTimeline-svg:hover
  cursor: default

.ProjectTimeline-circle:hover
  cursor: pointer

.ProjectTimeline-project-info
  padding: 0px 30px

.ProjectTimeline-project-info-text
  padding-bottom: 20px

.ProjectTimeline-project-item
  color: rgb(41, 41, 41)
  font-family: "Raleway"
  margin-left: 20px
  margin-bottom: 10px

.ProjectTimeline-project-name
  font-family: "Noto Serif TC"
  font-weight: bold
  font-size: 22px

.ProjectTimeline-project-item-link
  color: rgb(98, 131, 192)
  transition: 200ms

.ProjectTimeline-project-item-link:hover
  color: rgb(31, 67, 182)
  cursor: pointer

.ProjectTimeline-project-item-link:active
  color: rgb(31, 67, 182)

.ProjectTimeline-project-item-link:visited
  color: rgb(31, 67, 182)

.ProjectTimeline-project-image
  max-height: 300px
  margin: 10px 10px
  max-width: 90%
  box-shadow: 0px 0px 6px 2px rgb(180, 180, 180)

.ProjectTimeline-project-description
  text-indent: 10px
