.ProjectTimeline
  background-color: rgb(245, 245, 240)

.ProjectTimeline-svg:hover
  cursor: default

.ProjectTimeline-circle.archived
  display: none

.ProjectTimeline-circle:hover
  cursor: pointer
