.Home {
  padding: 30px 0px 30px;
  background-color: rgb(245, 245, 240);
}

.Home-section-welcome {
  width: 70%;
  margin: 0px auto;
  padding: 15px 0px;
}

.Home-welcome-title {
  font-family: "Noto Serif TC";
  font-weight: bold;
  font-size: 40px;
  color: rgb(50, 50, 50);
  display: block;
  padding-bottom: 15px;
}

.Home-welcome-text {
  font-family: "Raleway";
  letter-spacing: 0.2px;
  font-size: 18px;
  color: rgb(60, 60, 60);
  line-height: 26px;
}

.Home-section-divider {
  border: none;
  border-top: 1px solid rgb(98, 131, 192);
}

.Home-page-link {
  text-decoration: none;
  color: rgb(98, 131, 192);
  transition: 0.2s;
}

.Home-page-link:hover {
  color: rgb(31, 67, 182);
}

.Home-section-content-info {
  text-align: center;
  width: 80%;
  margin: 0px auto;
  padding: 15px 0px;
}

.Home-content-info-wrap {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 30px;
}

.Home-content-info-box {
  width: 240px;
  height: 200px;
  border: 2px solid rgb(98, 131, 192);
  padding: 20px 25px;
}

.Home-content-info-title-wrap {
  display: block;
  text-align: left;
}

.Home-content-info-title {
  font-family: "Noto Serif TC";
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  color: rgb(60, 60, 60);
  text-decoration: none;
  display: inline;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(98, 131, 192);
}

.Home-content-info-text {
  font-family: "Raleway";
  color: rgb(80, 80, 80);
  display: block;
  margin: 20px 0px 10px;
  font-size: 15px;
  text-align: center;
}

.Home-content-info-icon {
  width: 90px;
  display: block;
  margin: 0px auto;
}

.Home-content-info-link-icon {
  width: 40px;
  padding: 25px 0px;
}

.Home-profile-image {
  width: 300px;
  border-radius: 150px;
}
