.Home {
  padding: 30px;
}

.Home-bio-wrap {
  width: 90%;
  margin: 30px auto 0px;
}

.Home-bio-header {
  font-family: "Questrial";
  font-weight: bold;
  font-size: 26px;
  color: rgb(32, 32, 32);
}

.Home-bio-section {
  padding: 20px 0px;
}

.Home-bio-section-divider {
  border: none;
  border-top: 1px solid rgb(200, 200, 200);
}

.Home-bio-text {
  font-family: "Questrial";
  letter-spacing: 0.2px;
  font-size: 18px;
  color: rgb(32, 32, 32);
  line-height: 26px;
}

.Home-page-link {
  text-decoration: none;
  color: rgb(98, 131, 192);
  transition: 0.2s;
}

.Home-page-link:hover {
  /* color: rgb(32, 63, 121); */
  color: rgb(60, 90, 185);
}

.Home-bio-profile-image {
  width: 70%;
  display: block;
  margin: 0px auto;
  box-shadow: 0px 0px 6px 2px rgb(180, 180, 180);
}
