.Survey {
  background-color: rgb(245, 245, 240);
}

.Survey-content {
  width: 50%;
  padding: 40px 0px;
  margin: 0px auto;
}

.Survey-name {
  font-family: "Noto Serif TC";
  font-size: 25px;
  color: rgb(60, 60, 60);
  font-weight: bold;
  padding-bottom: 10px;
}

.Survey-question {
  padding: 10px 0px 20px;
}

.Survey-question-text {
  font-family: "Raleway";
  color: rgb(60, 60, 60);
  padding-bottom: 10px;
}

.Survey-question-option {
  font-family: "Raleway";
  color: rgb(95, 95, 95);
  padding: 5px 12px;
  transition: 200ms;
}

.Survey-question-option:hover {
  color: rgb(54, 54, 54);
  background-color: rgb(197, 197, 197);
  cursor: pointer;
}
