@import "../common/Common"

.Blog
  background-color: $background-color

.Blog-header
  padding: 26px 40px 20px

.Blog-title
  font-family: $primary-font
  color: rgb(60, 60, 60)
  font-size: calc(30px)
  font-weight: bold
  display: inline

.Blog-title-link
  text-decoration: none

.Blog-search
  margin-left: 40px

.Blog-posts
  padding: 40px 40px 40px

.Blog-posts-loading
  color: rgb(137, 140, 146)
