.Blog
  background-color: rgb(245, 245, 240)

.Blog-header
  padding: 26px 40px 20px

.Blog-title
  font-family: "Noto Serif TC"
  color: rgb(60, 60, 60)
  font-size: calc(30px)
  font-weight: bold
  display: inline

.Blog-title-link
  text-decoration: none

.Blog-search
  margin-left: 40px

.Blog-posts
  padding: 40px 40px 40px

.Blog-posts-loading
  color: rgb(208, 213, 223)
