.Tag
  font-family: "Raleway"
  display: inline-block
  margin-right: 10px
  margin-bottom: 7px
  padding: 6px 6px
  color: rgb(98, 131, 192)
  font-size: 14px
  transition: 200ms

.Tag:hover
  cursor: pointer
  background-color: rgb(211, 211, 211)
  color: rgb(31, 67, 182)

.Tag:active
  background-color: rgb(84, 89, 102)
