@import url("https://unpkg.com/normalize.css") layer(normalize);

@layer normalize, base, demo;

@layer demo {
  body {
    align-content: center;
    gap: 2rem;
  }

  [data-exclude="true"] {
    .img-container {
      opacity: calc(var(--icon-opacity, 0.25) * 0.25);
      transition: opacity 0.26s ease-out;
    }
    article:is(:hover, :focus-within) {
      .img-container {
        opacity: var(--icon-opacity, 0.25);
      }
    }
  }

  article {
    -webkit-tap-highlight-color: #0000;
    width: 300px;
    aspect-ratio: 4 / 3;
    outline: 2px solid light-dark(hsl(0 0% 90%), hsl(0 0% 20%));
    background: light-dark(hsl(0 0% 98%), hsl(0 0% 10%));
    position: relative;
    border-radius: 12px;
    container-type: size;
    cursor: pointer;
    transition-property: translate, scale;
    transition-duration: 0.12s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

    & > div {
      clip-path: inset(0 round 12px);
      overflow: hidden;
      align-content: center;
      display: grid;
      place-items: center;
      gap: 0.5rem;
      position: absolute;
      inset: 0;
      border-radius: 12px;
      overflow: hidden;
    }

    &:active {
      translate: 0 1px;
      scale: 0.99;
    }

    button {
      -webkit-tap-highlight-color: #0000;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      border-radius: 8px;
      border: 0;
      z-index: 2;
      display: grid;
      place-items: center;
      padding: 0;
      width: 32px;
      aspect-ratio: 1;
      background: #0000;
      cursor: pointer;
      opacity: 0.3;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: light-dark(hsl(0 0% 0% / 0.08), hsl(0 0% 100% / 0.1));
        z-index: -1;
        border-radius: inherit;
        opacity: 0;
      }

      &:is(:hover, :focus-visible) {
        opacity: 1;
        &::before {
          opacity: 1;
        }
      }

      svg {
        width: 20px;
        path {
          fill: currentColor;
        }
        /* color: canvasText; */
      }
    }

    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      inset: 0px;
      border-radius: inherit;
      border: calc(var(--border-width) * 1px) solid #0000;
      backdrop-filter: blur(calc(var(--border-blur) * 1px))
        saturate(var(--border-saturate)) brightness(var(--border-brightness))
        contrast(var(--border-contrast));
      mask:
        linear-gradient(#fff 0 100%) border-box,
        linear-gradient(#fff 0 100%) padding-box;
      mask-composite: exclude;
      z-index: 2;
      clip-path: inset(0 round 12px);
      transform: translateZ(0);
      /* background: light-dark(hsl(0 0% 90% / 0.5), hsl(0 0% 12% / 0.05)); */
    }

    img {
      width: 100px;
      user-select: none;
    }

    img:nth-of-type(1) {
      z-index: 2;
      position: relative;
    }

    .img-container {
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      transform: translateZ(0);
      /* filter: blur(28px) saturate(2) brightness(1.25); */
      filter: url(#blur) saturate(var(--icon-saturate))
        brightness(var(--icon-brightness));
      /* default to -10 to put them out of the way */
      translate: calc(var(--pointer-x, -10) * 50cqi)
        calc(var(--pointer-y, -10) * 50cqh);
      scale: var(--icon-scale);
      opacity: var(--icon-opacity);
      will-change: transform, filter;
    }

    h2 {
      z-index: 4;
      position: relative;
      font-size: 1rem;
      margin: 0;
      user-select: none;
    }
  }
  main {
    touch-action: none;
    padding-block: 4rem;
    width: 800px;
    max-width: calc(100vw - 2rem);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme="light"] {
    color-scheme: light only;
  }

  [data-theme="dark"] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    background: light-dark(#fff, #000);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family:
      "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica,
      Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 80%);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background:
      linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size))
        calc(var(--size) * 0.36) 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
        calc(var(--size) * 0.32) / var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  width: 280px;
  position: fixed;
  z-index: 9999999;
}
